/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");

:root {
  --neon-violet: #8d85fd;
  --neon-pink: #c822ff;
  --neon-green: #00ff00;
  --neon-red: #ff0000;
  --neon-black: #1d1e21;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
}

html,
body {
  background-color: #000;
}

.camp {
  border: 2px solid var(--neon-violet);
}

.abt {
  color: var(--neon-pink) !important;
}

.navbar {
  background-color: #000 !important;
}

main h1 {
  font-weight: 900;
  color: #fff;
  margin-top: 10%;
  margin-left: 10%;
}

#neon-red-clr {
  color: var(--neon-red);
}

main p {
  margin-top: 3%;
  margin-left: 10%;
}

main h2 {
  font-weight: 900;
  color: #fff;
  margin-top: 5%;
  margin-left: 10%;
}

main .p2 {
  margin-top: 12px;
}

.main-program h1 {
  font-weight: 900;
  color: #fff;
  text-align: center;
}

.card-body {
  margin-top: 40%;
}

@media only screen and (max-width: 600px) {
  .cards {
    display: block !important;
  }

  .card-even {
    margin-top: 40px;
    margin-left: 80px;
  }

  .card-odd {
    margin-top: 40px;
    margin-left: 80px !important;
  }
}
